{% extends 'layout.html' %}
{% block body %}
      <!-- partial -->
      <div class="main-panel">          
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Timeline</h4>
                  <p class="card-description">A simple timeline</p>
                  <div class="mt-5">
                    <div class="timeline">
                      <div class="timeline-wrapper timeline-wrapper-warning">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title"> <b>Things to carry for Hiking</b> </h6>
                          </div>
                          <div class="timeline-body">
                            <ul>
                            <li>1 Hiking backpack</li>
                            <li>Clothing that is weather-appropriate (such as layers)</li>
                            <li>Hiking Boots (or shoes)</li>
                            <li>Nutritious, lightweight food</li>
                            <li>Bottled Water</li>
                            <li>Navigation tools (a map and a compass)</li>
                            <li>Mini first-aid kit</li>
                            <li>Pocket Knife or multi-tool</li>
                          </ul>
                          <br>
                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>19</span>
                              <span class="ml-md-auto font-weight-bold">19 Oct 2017</span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title"> <b>Contribution in Open Source GitHub</b></h6>
                          </div>
                          <div class="timeline-body">
                            <li>Step 1: Fork the desired project</li>
                            <li>Step 2: Clone the Project</li>
                            <li>Step 3: Create A New Branch</li>
                            <li>Step 4: Develop, Stage, and Commit</li>
                            <li>Step 5: Push the Changes</li>
                            <li>Step 6: Create a Pull Request</li>
                            <br>

                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>25</span>
                              <span class="ml-md-auto font-weight-bold">10th Aug 2017</span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-wrapper timeline-wrapper-success">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title"> <b>Medicine for Traveling</b></h6>
                          </div>
                          <div class="timeline-body">
                            <ul>
                              <li>Antibiotics</li>
                              <li>Antihistamine</li>
                              <li>Laxative</li>
                              <li>Bandage</li>
                              <li>Decongestant</li>
                              <li>Hydrocortisone</li>
                              <li>Loperamide</li>
                              <li>Antacid</li>
                              <li>Eye Drop</li>
                            </ul>
                            <br>
                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>19</span>
                              <span class="ml-md-auto font-weight-bold">5th Sep 2016</span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title"><b>Software Development Process</b></h6>
                          </div>
                          <div class="timeline-body">
                            <ul>
                              <li>Understand your business needs</li>
                              <li>Understand your user needs</li>
                              <li>Ideation</li>
                              <li>Filter out the bad ideas</li>
                              <li>Create an outline</li>
                              <li>Identifying project restraints</li>
                              <li>Identifying project requirements</li>
                              <li>Prioritizing requirements</li>
                              <br>
                            </ul>
                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>19</span>
                              <span class="ml-md-auto font-weight-bold">27th July 2016</span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-wrapper timeline-wrapper-primary">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title"><b>Fast Food Resturant</b></h6>
                          </div>
                          <div class="timeline-body">
                            <ul>
                              <li>KFC</li>
                              <li>McDonald's</li>
                              <li>Burger King</li>
                              <li>Papa John's</li>
                              <li>Domino's Pizza</li>
                              <li>Subway</li>
                              <li>Hardee's</li>
                              <li>Ranchers</li>
                            </ul>
                            <br>
                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>25</span>
                              <span class="ml-md-auto font-weight-bold">25th July 2016</span>
                          </div>
                        </div>
                      </div>
                      <!--<div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title">Bootstrap 4 Alpha 2</h6>
                          </div>
                          <div class="timeline-body">
                            <p>The general plan for v4’s development starts with a few alpha releases. We’re a little behind on that, but should be getting caught up as the year winds down.</p>
                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>32</span>
                              <span class="ml-md-auto font-weight-bold">19th Aug 2015</span>
                          </div>
                        </div>
                      </div> -->

                      <!-- <div class="timeline-wrapper timeline-wrapper-success">
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h6 class="timeline-title">Bootstrap 4 alpha 1</h6>
                          </div>
                          <div class="timeline-body">
                            <p>Bootstrap 4 has been a massive undertaking that touches nearly every line of code.</p>
                          </div>
                          <div class="timeline-footer d-flex align-items-center flex-wrap">
                              <i class="ti-heart text-muted mr-1"></i>
                              <span>26</span>
                              <span class="ml-md-auto font-weight-bold">15th Jun 2015</span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        {% endblock %}

